* {box-sizing:border-box}
body {background-image: url("../pict/bg.jpg"); background-repeat:no-repeat;background-size: cover;background-attachment: fixed;}
.header {display: flex; justify-content: space-around; width:100%}
.img_header_div {width:20%; border-radius:10%;background-color:rgba(255,255,0,0.6)}
.title_header{width:60%; background-color:rgba(255,255,0,0.6); padding-top:1rem;  box-shadow:3px 3px 3px black}
.img9et {width:100%; padding:10px; outline:3px solid black; border-radius:10%;}
h1 {text-align: center; color:orange; text-shadow: 3px 3px 3px black;font-weight:bolder; font-size:3.5em}
h2 {color:brown;}
nav {display:flex; flex-direction:row; justify-content:space-around; width:90%; margin-left:auto; margin-right: auto;padding:2em;background-color:rgba(255,255,0,0.6); margin-top:2em; box-shadow:3px 3px 3px black}
.wrapper {width:94%;margin-left:auto; margin-right: auto;padding:2em; margin-top:2em; box-shadow:3px 3px 3px black; display:flex;flex-direction:row; justify-content:space-between; }
p {text-align: justify;padding:2%}
aside {width:20%;background-color:rgba(255,255,0,0.6)}
content {width:70%;background-color:rgba(255,255,0,0.6); border-left:5px solid brown; padding-left:2% }
.szabados img {width:50%; padding:5%;   display:block;margin-left: auto;margin-right: auto;}
.inner_div {width:30%; background-color:rgba(255,255,0,0.6); border-left:10px solid blue}
figure img {width:100%; background-color:rgba(255,255,0,0.6); box-shadow:5px 3px 8px black}
figcaption {text-align: center;font-size:1.5em; color:blue; margin-top:5px}
@media screen and (max-width:900px)
{.wrapper {width:90%; flex-direction:column}
.inner_div {width:100%; margin-top:1em;}
content, aside {width:90%; margin-left:auto; margin-right:auto; border-left:5px solid brown; }
h1 {font-size: 2em;}

}
