* {box-sizing:border-box}
body {background-image: url("../pict/bg.jpg"); background-repeat:no-repeat;background-size: cover;background-attachment: fixed;}
.header {display: flex; justify-content: space-around; width:100%}
.img_header_div {background-color:rgba(255,255,0,0.6) ;width:20%; border-radius:10%;}
.title_header{width:60%; background-color:rgba(255,255,0,0.6); padding-top:1em; font-size:2.5em; font-weight:bolder; box-shadow:3px 3px 3px black}
.img9et {width:100%; padding:10px; outline:3px solid black; border-radius:10%;}
h1 {text-align: center; color:brown; text-shadow: 3px 3px 3px black;}
h2 {color:brown;}
nav {display:flex; flex-direction:row; justify-content:space-around; width:90%; margin-left:auto; margin-right: auto;padding:2em;background-color:rgba(255,255,0,0.6); margin-top:2em; box-shadow:3px 3px 3px black}
.wrapper {width:94%;margin-left:auto; margin-right: auto;padding:2em; margin-top:2em; box-shadow:3px 3px 3px black; display:flex;flex-direction:row; justify-content:space-between; }
aside {width:20%;background-color:rgba(255,255,0,0.6)}
content {width:70%;background-color:rgba(255,255,0,0.6); border-left:5px solid brown; padding-left:2% }
.szabados img {width:50%; padding:5%;   display:block;margin-left: auto;margin-right: auto;}
